/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import "tailwindcss";

* {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;

}
.mainBox::-webkit-scrollbar {
  display: none;

}
.mainBox {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.poppin {
  font-family: "Poppins", sans-serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
}
.translate {
  transform: translate(-50%, -50%);
}

@keyframes spin-infinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-smooth {
  animation: spin-infinite 20s linear infinite;
}
.card {
  background: linear-gradient(
    189.55deg,
    rgba(255, 231, 211, 0) 5.17%,
    #b05a36 41.63%,
    #1f1f1f 96.25%
  );
}
/* .ai {
  background: linear-gradient(
    180deg,
    #ffffff 100%,
    #faf3ee 18%,
    #f1ddd1 36%,
    #ddb09a 58%,
    #c97d56 76%,
    #9c5637 88%,
    #4d291b 96%,
    #1f1f1f 100%
  );
  background-attachment: fixed;
  background-size: 100% 100vh;
} */

.ai{
  background: linear-gradient(

  #FFFFFF 14%, 
  #B05A36 46%, 
  #3C2015 86%, 
  #1F1F1F 98%
);
}